﻿@{
    ViewData["Title"] = "About";
}

<div class="page-content my-3 p-3 bg-white rounded box-shadow">
    <h1 class="pb-2 mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path fill="currentColor" d="M256 512a256 256 0 1 0 0-512a256 256 0 1 0 0 512m-86.2-346.7c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24v-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1h-58.3c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0a32 32 0 1 1-64 0"/></svg> About</h1>
    <p class="text-justify">
        Hitmanstat.us is not affiliated with IO Interactive, Warner Bros. Interactive Entertainment or Square Enix. This website is only maintained by an Hitman fan. However, all services informations shown here come from an official API kindly provided by IO Interactive for the community. Thank you to the online team.
    </p>
    <p class="text-justify">
        This website allows you to have a real-time overview of HITMAN&trade; services. You can see current outages, high load and maintenance periods. This might be useful to know if the connectivity issues come from your side or not. You can also check the reports of other players who might be in the same situation as you, in real time on the home page.
    </p>

    <p>
        The reporting system is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </p>

    <p class="text-justify">
        Remember that Hitmanstat.us can only detect internal issues. If any outage comes from your local network, your internet provider or from a regional network issue, this website will not be able to give you any information about that.
    </p>
    <h4 class="pb-3 mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path fill="currentColor" d="M176 24c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c-35.3 0-64 28.7-64 64H24c-13.3 0-24 10.7-24 24s10.7 24 24 24h40v56H24c-13.3 0-24 10.7-24 24s10.7 24 24 24h40v56H24c-13.3 0-24 10.7-24 24s10.7 24 24 24h40c0 35.3 28.7 64 64 64v40c0 13.3 10.7 24 24 24s24-10.7 24-24v-40h56v40c0 13.3 10.7 24 24 24s24-10.7 24-24v-40h56v40c0 13.3 10.7 24 24 24s24-10.7 24-24v-40c35.3 0 64-28.7 64-64h40c13.3 0 24-10.7 24-24s-10.7-24-24-24h-40v-56h40c13.3 0 24-10.7 24-24s-10.7-24-24-24h-40v-56h40c13.3 0 24-10.7 24-24s-10.7-24-24-24h-40c0-35.3-28.7-64-64-64V24c0-13.3-10.7-24-24-24s-24 10.7-24 24v40h-56V24c0-13.3-10.7-24-24-24s-24 10.7-24 24v40h-56zm-16 104h192c17.7 0 32 14.3 32 32v192c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32m192 32H160v192h192z"/></svg> Technologies used</h4>
    <p class="text-justify">Hitmanstat.us has been designed to serve a large number of visitors during maintenance events, major outages or release of a new season, using common techniques and best practices that aim to improve the performance.</p>
    <div class="media">
        <p class="media-body pb-3 mb-0 ml-1 small">
            <strong class="d-block text-gray-dark"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path fill="currentColor" d="M176 88v40h160V88c0-4.4-3.6-8-8-8H184c-4.4 0-8 3.6-8 8m-48 40V88c0-30.9 25.1-56 56-56h144c30.9 0 56 25.1 56 56v40h28.1c12.7 0 24.9 5.1 33.9 14.1l51.9 51.9c9 9 14.1 21.2 14.1 33.9V320H384v-32c0-17.7-14.3-32-32-32s-32 14.3-32 32v32H192v-32c0-17.7-14.3-32-32-32s-32 14.3-32 32v32H0v-92.1C0 215.2 5.1 203 14.1 194L66 142.1c9-9 21.2-14.1 33.9-14.1zM0 416v-64h128c0 17.7 14.3 32 32 32s32-14.3 32-32h128c0 17.7 14.3 32 32 32s32-14.3 32-32h128v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64"/></svg> ASP.NET Core 8</strong>
            ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based, Internet-connected applications.
        </p>
        <p class="media-body pb-3 mb-0 ml-1 small border-left pl-3">
            <strong class="d-block text-gray-dark"><svg xmlns="http://www.w3.org/2000/svg" width="1.25em" height="1em" viewBox="0 0 640 512"><path fill="currentColor" d="m407.906 319.913l-230.8-2.928a4.58 4.58 0 0 1-3.632-1.926a4.648 4.648 0 0 1-.494-4.147a6.143 6.143 0 0 1 5.361-4.076l232.94-2.936c27.631-1.26 57.546-23.574 68.022-50.784l13.286-34.542a7.944 7.944 0 0 0 .524-2.936a7.735 7.735 0 0 0-.164-1.631A151.91 151.91 0 0 0 201.257 198.4A68.12 68.12 0 0 0 94.2 269.59C41.924 271.106 0 313.728 0 366.12a96.054 96.054 0 0 0 1.029 13.958a4.508 4.508 0 0 0 4.445 3.871l426.1.051c.043 0 .08-.019.122-.02a5.606 5.606 0 0 0 5.271-4l3.273-11.265c3.9-13.4 2.448-25.8-4.1-34.9c-6.016-8.392-16.05-13.328-28.234-13.902m105.95-98.813c-2.141 0-4.271.062-6.391.164a3.771 3.771 0 0 0-3.324 2.653l-9.077 31.193c-3.9 13.4-2.449 25.786 4.1 34.89c6.02 8.4 16.054 13.323 28.238 13.9l49.2 2.939a4.491 4.491 0 0 1 3.51 1.894a4.64 4.64 0 0 1 .514 4.169a6.153 6.153 0 0 1-5.351 4.075l-51.125 2.939c-27.754 1.27-57.669 23.574-68.145 50.784l-3.695 9.606a2.716 2.716 0 0 0 2.427 3.68c.046 0 .088.017.136.017h175.91a4.69 4.69 0 0 0 4.539-3.37a124.807 124.807 0 0 0 4.682-34C640 277.3 583.524 221.1 513.856 221.1"/></svg> Cloudflare</strong>
            Cloudflare is a web infrastructure, providing content delivery network services, DDoS mitigation, Internet security, and distributed domain name server services.
        </p>
    </div>
    <h4 class="pb-2 mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="0.88em" height="1em" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c-57.2 0-105.6-37.5-122-89.3c-1.1 1.3-2.2 2.6-3.5 3.8c-15.8 15.8-38.8 20.7-53.6 22.1c-8.1.8-14.6-5.7-13.8-13.8c1.4-14.7 6.3-37.8 22.1-53.6c5.8-5.8 12.6-10.1 19.6-13.4c-7-3.2-13.8-7.6-19.6-13.4c-15.8-15.7-20.6-38.7-22.1-53.5c-.8-8.1 5.7-14.6 13.8-13.8c14.7 1.4 37.8 6.3 53.6 22.1c4.8 4.8 8.7 10.4 11.7 16.1C131.4 28.2 174.4 0 224 0c70.7 0 128 57.3 128 128s-57.3 128-128 128M0 482.3C0 399.5 56.4 330 132.8 309.9c6-1.6 12.2.9 15.9 5.8l62.5 83.3c6.4 8.5 19.2 8.5 25.6 0l62.5-83.3c3.7-4.9 9.9-7.4 15.9-5.8C391.6 330 448 399.5 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3M160 96c-8.8 0-16 7.2-16 16s7.2 16 16 16h128c8.8 0 16-7.2 16-16s-7.2-16-16-16z"/></svg> Sources & author</h4>
    <p>Hitmanstat.us sources are available <a href="https://gitlab.com/hitmaps/hitmanstat.us">on GitLab</a> and released under the <a href="https://choosealicense.com/licenses/mit/">MIT licence</a>. You can find me on <a href="https://www.hitmanforum.com/u/mrmike/summary">hitmanforum.com</a> as @@MrMike.</p>
</div>

@section Scripts {
    <script src="~/js/scripts.catchall.min.js" asp-append-version="true"></script>
}