﻿@model IEnumerable<hitmanstat.us.Models.Event>

@{
    ViewData["Title"] = "Events";

    var period = "day";

    if (ViewBag.days > 1)
    {
        period += "s";
    }
}

@section EventsHeader {
    <div class="alert alert-header" role="alert">
        <div class="text-center">
            <h4 class="alert-heading">LATEST DOWN OR MAINTENANCE EVENTS DETECTED</h4>
            <span class="separator"></span>
            <p class="mb-0">
                Since @ViewBag.days @period ago &nbsp; | &nbsp;
                @if (ViewBag.days == 7)
                {
                    <a asp-controller="Home" asp-action="Events" asp-route-days="1"><svg xmlns="http://www.w3.org/2000/svg" width="0.88em" height="1em" viewBox="0 0 448 512"><path fill="currentColor" d="M128 0c17.7 0 32 14.3 32 32v32h128V32c0-17.7 14.3-32 32-32s32 14.3 32 32v32h48c26.5 0 48 21.5 48 48v48H0v-48c0-26.5 21.5-48 48-48h48V32c0-17.7 14.3-32 32-32M0 192h448v272c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16m128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16m144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16m144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16"/></svg> Show last day</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Events" asp-route-days="7"><svg xmlns="http://www.w3.org/2000/svg" width="0.88em" height="1em" viewBox="0 0 448 512"><path fill="currentColor" d="M128 0c17.7 0 32 14.3 32 32v32h128V32c0-17.7 14.3-32 32-32s32 14.3 32 32v32h48c26.5 0 48 21.5 48 48v48H0v-48c0-26.5 21.5-48 48-48h48V32c0-17.7 14.3-32 32-32M0 192h448v272c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16m128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16m144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16m144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16"/></svg> Show last week</a>
                }
            </p>
        </div>
    </div>
}

<div class="alert alert-secondary text-center alert-desc" role="alert">
    The first event appears if the service is unavailable for more than a minute. 
    Following events are delayed each time until the service becomes available again.
</div>

<table class="table table-bordered table-striped table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th scope="col" class="col1">Relative Time</th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.State)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            string lastDate = string.Empty;

            @foreach (var item in Model)
            {
                var sdate = item.Date.ToString("dddd, MMM d, yyyy");

                if (lastDate != sdate)
                {
                    <tr>
                        <td class="table-secondary text-center" colspan="4">@sdate</td>
                    </tr>
                }

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Date) <span class="badge badge-dark">UTC</span></td>
                    <td class="col1" data-utcdate="@item.Date.ToString("yyyy-MM-ddTHH:mm:sszzz")">N/D</td>
                    <td>@Html.DisplayFor(modelItem => item.Service)</td>
                    <td>
                        @switch (item.State)
                        {
                            case "down":
                                <span class="badge badge-danger">DOWN</span>
                                break;
                            case "maintenance":
                                <span class="badge badge-warning">MAINTENANCE</span>
                                break;
                            case "unknown":
                                <span class="badge badge-secondary">UNKNOWN</span>
                                break;
                        }
                    </td>
                </tr>

                lastDate = sdate;
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="4">No event occurred</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/scripts.catchall.min.js" asp-append-version="true"></script>
}