﻿@{
    var recaptchaKey = Environment.GetEnvironmentVariable("RECAPTCHA_PUBLIC_KEY");
}

@section EventsHeader {
    <div class="mb-4" id="backend-error-container"></div>
}

<div class="alert alert-secondary text-center alert-report d-none" id="top-banner" role="alert">
    If a service isn't working for you, click on the exclamation mark to share your reporting. A significant number of reports may indicate an issue with the game servers. Keep in mind that Hitman's services also rely on Azure's infrastructure and third-party digital distribution  platforms services. If Hitman's servers appear online here but you still have some issues, you can check <a href="https://steamstat.us/">Steam</a>, <a href="https://status.epicgames.com/">Epic Games</a>, <a href="https://status.playstation.com/">PSN</a>, <a href="https://support.xbox.com/en-US/xbox-live-status">Xbox Live</a> and <a href="https://status.azure.com/">Azure</a> status pages to get more informations.
    <button type="button" class="btn btn-secondary btn-sm hide-btn" id="hide-top-banner">&times; hide</button>
</div>

@Html.AntiForgeryToken()

<div id="section-btn-group" class="btn-group d-none" role="group">
    <button class="btn btn-dark w-50 section-unselected" type="button" data-toggle="collapse" id="h1-selector" data-target=".h1-section" onclick="this.blur();">
        <span data-toggle="tooltip" data-placement="bottom" title="Legacy servers for HITMAN (2016) game">H1 (Legacy)</span>
    </button>
    <button class="btn btn-dark w-50 section-unselected" type="button" data-toggle="collapse" id="h2-selector" data-target=".h2-section" onclick="this.blur();">
        <span data-toggle="tooltip" data-placement="bottom" title="Legacy servers for HITMAN 2 (2018) game">H2 (Legacy)</span>
    </button>
    <button class="btn btn-dark w-100 section-selected" type="button" data-toggle="collapse" id="h3-selector" data-target=".h3-section" onclick="this.blur();">
        HITMAN World of Assassination
    </button>
    <button class="btn btn-dark w-50 section-unselected" type="button" data-toggle="collapse" id="elusives-selector" data-target=".elusives-section" onclick="this.blur();">
        Elusive Targets
        <span id="elusive-count" class="badge badge-warning">?</span>
    </button>
    <button class="btn btn-dark w-50 section-unselected" type="button" data-toggle="collapse" id="ot-selector" data-target=".ot-section" onclick="this.blur();">
        Forum
    </button>
</div>

@*
<div class="alert alert-warning text-center mt-4" role="alert">
    Due to a high number of players, a queue can be expected to access the free starter pack. You will join the game in the order in which you connected.
</div>
*@

<div id="services-container" class="d-none"></div>

<div class="card-deck">
    <div class="card">
        <a href="https://ioisupport.zendesk.com/hc/en-us">
            <div class="card-img-wrap">
                <img class="card-img-top" src="~/images/hitman-help.jpg" alt="Hitman Player Support" asp-append-version="true">
            </div>
        </a>
        <div class="card-body card-body-misc">
            <a class="misc-link" href="https://ioisupport.zendesk.com/hc/en-us">Player Support</a>
        </div>
    </div>
    <div class="card">
        <a href="https://www.hitmaps.com">
            <div class="card-img-wrap">
                <img class="card-img-top" src="~/images/hitmaps.png" alt="Hitmaps" asp-append-version="true">
            </div>
        </a>
        <div class="card-body card-body-misc">
            <a class="misc-link" href="https://www.hitmaps.com">HITMAPS</a>
        </div>
    </div>
    <div class="card">
        <a href="https://discord.gg/bAFSWUNXbu">
        <div class="card-img-wrap">
            <img class="card-img-top" src="~/images/f7sc.jpg" alt="Frote's speedrun community" asp-append-version="true">
        </div>
        </a>
        <div class="card-body card-body-misc">
            <a class="misc-link" href="https://discord.gg/bAFSWUNXbu">Frote's speedrun community</a>
        </div>
    </div>
</div>

<h4 class="index-title mt-4 mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512"><path fill="currentColor" d="M32 32c17.7 0 32 14.3 32 32v336c0 8.8 7.2 16 16 16h400c17.7 0 32 14.3 32 32s-14.3 32-32 32H80c-44.2 0-80-35.8-80-80V64c0-17.7 14.3-32 32-32m96 96c0-17.7 14.3-32 32-32h192c17.7 0 32 14.3 32 32s-14.3 32-32 32H160c-17.7 0-32-14.3-32-32m32 64h128c17.7 0 32 14.3 32 32s-14.3 32-32 32H160c-17.7 0-32-14.3-32-32s14.3-32 32-32m0 96h256c17.7 0 32 14.3 32 32s-14.3 32-32 32H160c-17.7 0-32-14.3-32-32s14.3-32 32-32"/></svg>
    Issues reported last week
</h4>

<div class="alert-bis alert-secondary text-center alert-report alert-threshold" role="alert">
    A significant problem is detected when the number of reported issues by the community is way above the threshold.
</div>

<div class="mb-4" id="chart"></div>

<h4 class="index-title mt-4 mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.13em" height="1em" viewBox="0 0 576 512"><path fill="currentColor" d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120m8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4c15.8-6.3 32.9 5.3 32.9 22.3v270.8c0 9.8-6 18.6-15.1 22.3L416 503zm-278.4-62.1c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6v251.4L32.9 502.7C17.1 509 0 497.4 0 480.4V209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77v249.3l-192-54.9V255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0M288 152a40 40 0 1 0 0-80a40 40 0 1 0 0 80"/></svg>
    Live outage map
</h4>

<div class="card mb-5">
    <img class="card-img" src="~/images/map.jpg" alt="Live outage map" asp-append-version="true">
    <div class="card-img-overlay d-flex">
        <a class="align-self-center mx-auto" asp-controller="Home" asp-action="Map">
            <div class="btn btn-outline-warning my-5 align-self-center">Open Live Outage Map</div>
        </a>
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?render=@recaptchaKey" async defer></script>
    <script id="scriptsTag" data-recaptcha-key="@recaptchaKey" src="~/js/scripts.index.min.js" asp-append-version="true"></script>
}