﻿@{
    ViewData["Title"] = "Live outage map";
}

<h4 class="index-title mt-2 mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.13em" height="1em" viewBox="0 0 576 512"><path fill="currentColor" d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120m8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4c15.8-6.3 32.9 5.3 32.9 22.3v270.8c0 9.8-6 18.6-15.1 22.3L416 503zm-278.4-62.1c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6v251.4L32.9 502.7C17.1 509 0 497.4 0 480.4V209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77v249.3l-192-54.9V255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0M288 152a40 40 0 1 0 0-80a40 40 0 1 0 0 80"/></svg>
    Reports for the last 24 hours
    <small class="text-muted">(based on community reports)</small>
</h4>

<div class="alert-bis alert-secondary text-center alert-report" role="alert">
    Only reports of players who have agreed to share their location are displayed on this map.
</div>

<div class="mb-5" id="heatmap"></div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/mapbox-gl@@2.6.1/dist/mapbox-gl.min.js"></script>
    <script src="~/js/scripts.map.min.js" asp-append-version="true"></script>
}