﻿/*
 * Hitmanstat.us main css file
 */

html {
    font-size: 14px;
}

body {
    min-height: 100vh;
    background-image: url('/images/grid.png'),url('/images/bg.jpg');
    background-size: auto,cover;
    background-color: #121421;
    background-position: top;
    background-repeat: repeat,no-repeat;
}

body.main-error {
    background-image: url('/images/grid.png'), url('/images/error_background.jpg');
}

.container-fluid {
    width: 70%;
}

h3 {
    color: #fff;
}

h4.index-title {
    color: #fff;
    padding: 15px 15px 15px 20px;
    background-color: rgba(187,170,204,.15);
    border-left: 2px solid #ffffff54;
}

hr {
    border-color: #c2ccd4;
}

.text-muted {
    color: #a8adb1 !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

a.btn {
    line-height: 1.1;
}

.table-bordered {
    border: 0px !important;
}

.not-compatible {
    position: absolute;
    z-index: 111111;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #FDF2AB;
    text-align: left;
    font-family: sans-serif;
    color: #000;
    font-size: 14px;
    padding: 18px;
    
}

.not-compatible#ie-banner {
    display: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.hide-btn {
    line-height: 0.5
}

.alert-warning {
    color: #2e2509 !important;
    background-color: #e8bc34 !important;
    border-color: #e5d6a7 !important;
    font-size: 0.94rem;
}

.cursor-help {
    cursor: help;
}

/*
 * NAVBAR
 */

.navbar {
    border-bottom: 1px solid #bc4242;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

nav.bg-dark {
    background-color: rgba(31, 34, 38, 0.68) !important;
}

#next-refresh {
    color: #02bdda;
}

/*
 * PAGE CONTENT
 */

.page-content.bg-white {
    background-color: rgba(255, 255, 255, 0.90) !important;
}

.page-content h1, .page-content h4 {
    border-bottom: 1px dotted #ccc;
}

/*
 * HEATMAP
 */

#heatmap {
    height: 500px;
}

/*
 * RECAPTCHA
 */

.grecaptcha-badge {
    visibility: hidden;
}

/*
 * CARDS
 */

.card {
    border: none;
    background-color: #f8f8f8;
}

.card-deck {
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-header {
    height: 25px;
}

.card-header.up {
    background-color: #61B329;
}

.card-header.maintenance {
    background-color: #FFC107;
}

.card-header.warn {
    background-color: #FF6A00;
}

.card-header.down, .card-header.error {
    background-color: #CC0000;
}

.card-header.unknown, .card-header.loading {
    background-color: #ccc;
}

.card-body {
    text-align: center;
    padding: 1.0rem;
}

.card-text {
    text-transform: uppercase;
    font-weight: 500;
}

.card-span-title {
    color: #5a405f;
    font-size: 1.25rem;
    line-height: 1.2;
    display: block;
}

.card-span-status {
    color: #61B329;
    font-weight: 600;
}

.card-span-status.up {
    color: #61B329;
}

.card-span-status.maintenance {
    color: #E1A900;
}

.card-span-status.warn {
    color: #FF6A00;
}

.card-span-status.down, .card-span-status.error {
    color: #CC0000;
}

.card-span-status.unknown, .card-span-status.loading {
    color: #ccc;
}

.card-footer > .btn-outline-warning {
    color: #6c757d;
}

.card-body-misc {
    background-color: #2a262f !important;
    text-transform: uppercase;
    border-bottom: 1px solid #0092a9;
    padding: 0.8rem;
}

.card-body-misc.elusive-body {
    border-bottom: 1px solid #a99c00;
}

.card-body-misc a {
    color: #e1e1e1;
    transition: all ease .15s;
}

.card-body-misc a:hover {
    color: #0092a9;
    text-decoration: none;
}

.card-body-misc.elusive-body a:hover {
    color: #a99c00;
    text-decoration: none;
}

.card-img-wrap {
    overflow: hidden;
    position: relative;
}

.card-img-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 123, 255, 0.1);
    opacity: 0;
    transition: opacity .50s;
}

.card-img-wrap:hover:after {
    opacity: 1;
}

.card-deck.elusives-section .card {
    flex-basis: 15%;
    margin-bottom: 30px;
}

.card-deck.elusives-section .card .card-img-wrap {
    max-height: 304px;
}

/*
 * RIBBON
 */

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 242px;
    padding: 16px 0;
    background-color: rgb(144, 1, 1);
    box-shadow: 0 5px 10px rgba(0, 0, 0,.1);
    color: #e0e0e0;
    font: 700 14px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0,.2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-left {
    top: -20px;
    left: -20px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left span {
    right: -30px;
    top: 35px;
    transform: rotate(-45deg);
}

/*
 * LIST GROUPS
 */

.list-group {
    margin-bottom: -1px;
}

.list-group-item {
    text-align: center;
    border: 0;
    cursor: pointer;
}

.list-group-item:hover {
    text-decoration-line: underline;
}

.list-group-item.maintenance {
    color: #484848;
    background-color: #dedede;
}

.list-group-item.elusive-target {
    color: #fff;
}

/*
 * SECTIONS
 */

#section-btn-group {
    margin-top: 8px;
}

.section-unselected {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-top: 1px solid #564c4c;
    border-bottom: 2px solid #818181;
}

.section-selected {
    color: #38b6ff;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-top: 1px solid #564c4c;
    border-bottom: 2px solid #38b6ff;
    box-shadow: 0 4px 5px -5px #38b6ff;
}

.section-selected:hover {
    box-shadow: none;
}

/*
 * MODALS
 */

.modal-content {
    background-color: rgba(255, 255, 255, 0.92);
}

/*
 * ALERTS
 */

.alert-header {
    background-color: rgba(255,0,0,.3);
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
}

.alert-header .separator {
    display: inline-block;
    width: 200px;
    height: 4px;
    background: #be2f2f;
    margin-bottom: 10px;
}

.alert-header a {
    color: #02bdda;
    border-bottom: 1px solid rgba(255,255,255,.25);
    transition: all ease .15s;
}

.alert-header a:hover {
    color: #02bdda;
    text-decoration: none;
}

.alert-header-main {
    background-color: rgba(50, 47, 53, 0.8) !important;
}

.alert-desc {
    font-size: 0.96rem;
}

.alert-report {
    border: 0;
    background-color: rgba(226, 227, 229, 0.71);
    font-size: 0.93rem;
}

.alert-report a {
    color: #007284;
    border-bottom: 1px solid rgba(93, 93, 93, 0.52);
    transition: all ease .15s;
}

.alert-report a:hover {
    color: #0092a9;
    text-decoration: none;
    border-bottom: 1px solid rgba(251, 251, 251, 0.52);
}

.alert-threshold {
    color: #c2ccd4;
    background-color: rgba(220, 53, 69, 0.36);
}

.alert-bis {
    padding: 10px 12px;
}

/*
 * CHART
 */

#chart {
    background-color: rgba(255, 255, 255, 0.54);
}

/*
 * ERROR CONTAINER
 */

#backend-error-container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: none;
    overflow: hidden;
    color: #FFF;
    font-size: 16px;
    background-color: rgba(255,0,0,0.3);
}

#backend-error-container h1 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#backend-error-container h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 7px;
}

#backend-error-container h3 {
    font-size: 1.0rem;
}

#backend-error-container span {
    display: inline-block;
    width: 150px;
    height: 4px;
    background: #be2f2f;
    margin-bottom: 10px;
}

/*
 * EVENTS PAGE
 */

td.table-secondary {
    font-weight: 500;
    border-bottom: 2px solid #02bdda;
    border-left: 1px solid #d6d8db;
    border-right: 1px solid #d6d8db;
}

/*
 * FOOTER
 */
 
footer {
    margin-top: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer.bg-dark {
    background-color: rgba(52, 58, 64, 0.55) !important;
}

footer p {
    margin-bottom: .25rem;
    font-size: 0.9rem;
}

footer p a {
    color: #02bdda;
    border-bottom: 1px solid rgba(255,255,255,.25);
    transition: all ease .15s;
}

footer p a:hover {
    color: #02bdda;
    text-decoration: none;
}

/*
 * CUSTOM SCROLLBAR (WEBKIT ENGINE ONLY)
 */

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background-color: #000
}

::-webkit-scrollbar-thumb {
    background-color: #35081b
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff0068
}

/*
 * NIGHT MODE
 */

body.night-mode .alert {
    background-color: #322f35;
    color: #c2ccd4;
    border: 0;
}

body.night-mode .alert-bis {
    background-color: #4a4a4a;
    color: #c2ccd4;
    border: 0;
    padding: 10px 12px;
}

body.night-mode .alert.alert-header {
    background-color: rgba(255,0,0,.3);
    color: #dedede;
}

body.night-mode .card-body {
    background-color: #322f35;
}

body.night-mode .card-span-title {
    color: #c8c2b6;
}

body.night-mode .card-footer {
    background-color: #2a262f;
    color: #c2ccd4;
}

body.night-mode .card-footer .btn-outline-warning {
    color: #e8e8e8;
}

body.night-mode .card-footer .btn-outline-warning:hover {
    color: #6c757d;
}

body.night-mode .list-group-item.maintenance {
    color: #e6e6e6;
    background-color: #757575;
}

body.night-mode .list-group-item.elusive-target {
    color: #e6e6e6;
}

body.night-mode .table tbody > tr {
    background-color: #242424;
    color: #c8c2b6;
}

body.night-mode .table tbody > tr:nth-child(even) {
    background-color: #323232;
}

body.night-mode .table tbody > tr td.table-secondary {
    background-color: #2f3030;
    color: #dedede;
    border-bottom: 2px solid #02bdda;
}

body.night-mode .table-bordered td, .table-bordered th {
    border: 1px solid #3a4645;
    color: #d8d2c9;
}

body.night-mode #backend-error-container {
    color: #dedede;
}

body.night-mode .modal-content {
    background-color: rgba(37, 37, 38, 0.92);
}

body.night-mode .modal-header {
    border-bottom: 1px solid #3e444a;
}

body.night-mode .modal-header h5.modal-title {
    color: #d8d2c9;
}

body.night-mode .modal-header button span {
    color: #d8d2c9;
}

body.night-mode .modal-body .alert {
    color: #d8d2c9;
}

body.night-mode .modal-body .table {
    color: #d8d2c9;
}

body.night-mode .modal-body .table td, 
body.night-mode .modal-body .table th {
    border-top: 1px solid #3e444a;
}

body.night-mode .modal-footer {
    border-top: 1px solid #3e444a;
}

body.night-mode .page-content {
    background-color: rgba(36, 37, 37, 0.58) !important;
    color: #d8d2c9;
}

body.night-mode .page-content a {
    color: #48a0c8;
}

body.night-mode .alert-report a {
    color: #02bdda;
    border-bottom: 1px solid rgba(255,255,255,.25);
    transition: all ease .15s;
}

body.night-mode .alert-report a:hover {
    color: #00ddff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

body.night-mode .alert-threshold {
    background-color: rgba(220, 53, 69, 0.36);
}

body.night-mode .alert-section {
    background-color: rgba(55, 121, 134, 0.36);
}

/*
 * MEDIA QUERIES
 */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1700px) {
    .container-fluid {
        width: 99%;
    }
}

@media (max-width: 1162px) {
    .card-span-title {
        font-size: 1.1rem;
    }

    .list-group-item.elusive-target, 
    .list-group-item.maintenance {
        font-size: 0.85rem;
    }

    .card-footer {
        padding: 0.75rem 0.70rem;
    }
}

@media (max-width: 970px) {
    .card-span-title {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .card-span-title {
        font-size: 1rem;
    }

    .card-body {
        padding: 1rem 0;
    }

    .card-footer .text-muted {
        display: none;
    }

    .col1 {
        display: none;
    }
}

@media (max-width: 575px) {
    .card-footer .text-muted {
        display: inline
    }

    .navbar-text {
        display: inline;
    }

    .card-span-title {
        font-size: 1.25rem;
    }

    .card-body {
        padding: 1rem;
    }

    .list-group-item.elusive-target, 
    .list-group-item.maintenance {
        font-size: 1rem;
    }

    h4.index-title small {
        display: none;
    }

    .card-footer {
        padding: 0.75rem 1.25rem;
    }

    .card-footer .text-muted {
        font-size: 80%;
    }

    .card-footer a {
        display: inline;
    }

    .section-unselected, .section-selected {
        font-size: 0.75rem;
    }
}

@media (max-width: 375px) {
    .h4, h4 {
        font-size: 1.25rem;
    }
    .section-unselected, .section-selected {
        font-size: 0.75rem;
    }
}