﻿@{
    var title = ViewData["Title"] != null ? string.Format("{0} - HITMAN Status", ViewData["Title"]) : "HITMAN Status";
}
<!--
  _  _ ___ _____ __  __   _   _  _     ___ _____ _ _____ _   _ ___
 | || |_ _|_   _|  \/  | /_\ | \| |   / __|_   _/_\_   _| | | / __|
 | __ || |  | | | |\/| |/ _ \| .` |   \__ \ | |/ _ \| | | |_| \__ \
 |_||_|___| |_| |_|  |_/_/ \_\_|\_|   |___/ |_/_/ \_\_|  \___/|___/

   BuildID : 2023112201

                     /|
                     \\  \`.
                ,'/  ||   ) `.
              ,' (   //,-'_,-'    ,
             `-._`-.  |  (_____,-'/
        \`-._____)  | | ,-'-.    /
         \    ,-'-. | |/     ) ,'
          `. (     \|     _,','
            `.`._

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer data-domain="hitmanstat.us" src="https://analytics.hitmaps.com/js/script.js"></script>

    <title>@title</title>

    @* Favicons / SEO / Social meta tags *@
    <partial name="_Meta"/>

    @* CSS bundle *@
    <link rel="stylesheet" href="~/css/stylesheets.min.css" asp-append-version="true" />

    @* Application Insights scripts *@
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="d-flex flex-column night-mode @(ViewBag.mainError != null ? "main-error" : "" )">

    @* IE banner *@
    <div class="not-compatible" id="ie-banner">
        Unfortunately, your browser is too old to work on this website.
        Please <a href="https://browsehappy.com">upgrade your browser</a> for full experience.
    </div>

    <script>
        if (/Trident\/|MSIE/.test(window.navigator.userAgent)) {
            document.getElementById('ie-banner').style.display = 'block';
        }
    </script>

    @* Javascript banner *@
    <noscript>
        <div class="not-compatible">
            For full functionality of this website it is necessary to enable JavaScript.
            Here are the <a href="https://www.enable-javascript.com/">instructions how to enable it in your web browser</a>.
        </div>
    </noscript>

    @* Header section *@
    <header>
        <partial name="_Navbar"/>
    </header>

    @RenderSection("EventsHeader", required: false)

    @* Body section *@
    <div class="container-fluid mb-4">
        <main role="main" class="flex-fill">
            @RenderBody()
        </main>
    </div>

    @* Footer section *@
    <footer class="footer mt-auto bg-dark box-shadow">
        <div class="container">
            <div class="text-center text-muted">
                <p>&copy; 2017 - @DateTime.Now.Year Hitmanstat.us</p>
                <p>HITMAN&trade; is a trademark exclusively licensed to <a href="https://www.ioi.dk/">IO Interactive</a>.</p>
            </div>
        </div>
    </footer>

    @* Scripts bundle *@
    @RenderSection("Scripts", required: false)
</body>
</html>
